h1,h2,h3 {
	color: #09437D;
}

h1{
	font-size: 40px;
	font-weight: lighter;
	margin: 0;
}

h2 {
	font-size: 45px;
	font-weight: bold;
	margin:0;
}

.favourite-left h2 {
	font-size: 40px;
	font-weight: lighter;
	margin:0;
}

h3{
	font-size: 30px;
	font-weight: bold;
}

p {
	font-size: 30px;
	margin:0;
	color: #51769B;
}

span {
	color: white;
}

.degrees p{
	font-size: 70px;
}

p.head-text{
	font-size:15px;
}

div, nav {
	margin: 10px;
	/*border: 1px dotted grey;*/
}

ul {
    list-style-type: none;
	padding-left: 0;
    margin-bottom: 20px;
}

li {
	margin-bottom: 10px;
}

ul.items li {
	background: #09437D;
	opacity: 0.6;
    justify-content: space-between;
    padding: 7px;
    margin-bottom: 9px;
}

.button {
	align-items: center;
}

.but1 {
	background-color: #ABC5DF;
	text-align: center;
	border-radius: 7px;
    border: none;
    height: 40px;
    padding: 10px 50px;
}

.but2 {
	color: #fff;
    font-size: 30px;
    background-color: #09437D;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 0;
    text-align: center;
}

.img1 {
	height:80px;
	width:80px;
}

.img2 {
	height: 40px;
	width:40px;
}

input.choice {
	padding: 13px;
    margin-right: 15px;
    border: none;
    background: #C2D7EC;
    width: 250px;
}

.head-left {
	grid-area: head-left;
}

.head-right {
	grid-area: head-right;
	text-align: center;
	align-self: center;
}

.head {
	display: grid;
	max-width: 900px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"head-left head-right";
}

.main-left {
	grid-area: main-left;
}

.main-right {
	grid-area: main-right;
	text-align: right;
}

.city {
	grid-area: city;
}

.weat-icon {
	grid-area: weat-icon;

}

.degrees {
	grid-area: degrees;
}

.main {
	display: grid;
	max-width: 900px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows:2;
	grid-template-areas: 
		"city city main-right"
		"weat-icon degrees main-right"
}

.main-left{
	display: grid;
	max-width: 900px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2;
	grid-template-areas: 
		"city city"
		"weat-icon degrees";
}

.favourite-left {
	grid-area: favourite-left;
}

.favourite-right {
	grid-area: favourite-right;
	text-align: right;
	align-self: center;*/
	/*justify-content: space-between;*/
}

.favourite {
	display: grid;
	max-width: 900px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"favourite-left favourite-right"
}

.favourite-head {
	display: flex;
    justify-content: space-between;
	align-items: center;
	margin: 0;
	text-align: center;
}

.favourite-list-left {
	grid-area: favourite-list-left;
}

.favourite-list-right {
	grid-area: favourite-list-right;
}

.favourite-list {
	display: grid;
	max-width: 900px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"favourite-list-left favourite-list-right"
}

.favourite-head{
	align-items: inline;
}
