h1,h2,h3 {
	color: #09437D;
}

h1{
	font-size: 2.5vw;
	font-weight: lighter;
	margin: 0;
}

h2 {
	font-size: 3vw;
	font-weight: bold;
	margin: 0;
}

.favourite-left h2 {
	font-size: 2.2vw;
	font-weight: lighter;
}

h3{
	font-size: 2vw;
	font-weight: bold;
	margin: 0;
}

p {
	color: #51769B;
	font-size: 2vw;
	margin: 0;
}

.degrees p{
	font-size: 5vw;
}

p.head-text{
	font-size: 1vw;
}

span {
	color: white;
	text-align: right;
}

div, nav {
	margin: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

ul {
    list-style-type: none;
	padding-left: 0;
    margin-bottom: 20px;
	margin-top: 0;
}

li {
	margin-bottom: 10px;
}

ul.items li {
	background: #09437D;
	opacity: 0.6;
	display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 10px;
}

.button {
	align-items: center;
}

.but1 {
	background-color: #ABC5DF;
	text-align: center;
	border-radius: 6px;
    border: none;
    height: 50px;
    padding: 10px 50px;
}

.but2 {
	color: #fff;
	background-color: #09437D;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    text-align: center;
	padding: 0;
}

input.choice {
	background: #C2D7EC;
	font-size: 0.9vw;
	width: 250px;
	border: none;
    margin-right: 15px;
	padding: 16px;
}

.img1 {
	height:80px;
	width:80px;
}

.img2 {
	height: 40px;
	width:40px;
}

img.mobile{
    display: none;
}

.head-left {
	grid-area: head-left;
}

.head-right {
	grid-area: head-right;
	text-align: center;
	align-self: center;
}

.head {
	display: grid;
	max-width: 1100px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"head-left head-right";
}

.primary-right {
	grid-area: primary-right;
	text-align: right;
}

.city {
	grid-area: city;
}

.weat-icon {
	grid-area: weat-icon;

}

.degrees {
	grid-area: degrees;
}

.primary {
	display: grid;
	max-width: 1100px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-areas: 
		"city city primary-right"
		"weat-icon degrees primary-right"
}

.favourite-left {
	grid-area: favourite-left;
	align-self:center;
}

.favourite-right {
	grid-area: favourite-right;
	text-align: right;
	align-self: center;
	align-items:center;
	display: flex;
	justify-content: flex-end;
	margin-right:28px;
}

.favourite {
	display: grid;
	max-width: 1100px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"favourite-left favourite-right"
}

.favourite-head {
	display: flex;
    justify-content: space-between;
	align-items: center;
	margin: 0;
	text-align: center;
	margin-bottom:5px;
}

.favourite-list-left {
	grid-area: favourite-list-left;
}

.favourite-list-right {
	grid-area: favourite-list-right;
}

.favourite-list {
	display: grid;
	max-width: 1100px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"favourite-list-left favourite-list-right"
}

.favourite-list-item {
	padding:0;
	margin:0;
}

@media only screen and (max-width: 800px) {
.primary, .favourite-list, .favorite{
    display: block;
}

.head{
    display: flex;
    justify-content: flex-start;
}

.primary h2 {
    font-size: 5vw;
}

.primary p{
    font-size: 5vw;
}

.img1{
    width: auto;
    height: 80px;
    margin-right: 20px;
}

.img2{
    width: auto;
    height: 50px;
}

p.head-text{
    display: none;
}

.but1{
    padding: 0;
}

.but1 img{
    display: block;
    height: 50px;
    width: 50px;
}

h1{
	font-size: 4vw;
}

h2 {
	font-size: 3vw;
}

.favourite-left h2 {
	font-size: 4vw;
}

h3{
	font-size: 3.5vw;
}

p {
	font-size: 4vw;
}

.degrees p{
	font-size: 5vw;
}

input.choice {
	font-size: 1.8vw;
}

}