h1,h2,h3 {
	color: #09437D;
}

h1{
	font-size: 37px;
	font-weight: lighter;
	margin: 0;
}

h2 {
	font-size: 45px;
	font-weight: bold;
	margin: 0;
}

.favourite-left h2 {
	font-size: 34px;
	font-weight: lighter;
}

.loader h2 {
	font-size: 50px;
	font-weight: lighter;
	margin: 0;
}

img.loader {
	width: auto;
    height: 150px;
}

h3{
	font-size: 25px;
	font-weight: bold;
	margin: 0;
}



p {
	color: #51769B;
	font-size: 24px;
	margin: 0;
}

.weat-icon p{
	font-size: 54px;
	padding-left: 80px;
}

p.head-text{
	font-size: 14px;
}

span {
	color: white;
	text-align: right;
}

div, nav, form {
	margin: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

ul {
    list-style-type: none;
	padding-left: 0;
    margin-bottom: 20px;
	margin-top: 0;
}

li {
	margin-bottom: 10px;
}

ul.items li {
	background: #09437D;
	opacity: 0.6;
	display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 10px;
}

.button {
	align-items: center;
}

.but1 {
	background-color: #ABC5DF;
	text-align: center;
	border-radius: 6px;
    border: none;
    height: 50px;
    padding: 10px 31px;
}

.but2 {
	color: #fff;
	background-color: #09437D;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    text-align: center;
	padding: 0;
}

input.choice {
	background: #C2D7EC;
	font-size: 14px;
	width: 250px;
	border: none;
    margin-right: 15px;
	padding: 16px;
	flex: 1;
	text-overflow: ellipsis;
    overflow-y: hidden;
}

.img1 {
	height: 80px;
	width: 80px;
}

.img2 {
	height: 50px;
	width: 50px;
}

img.mobile{
    display: none;
}

.head-left {
	grid-area: head-left;
}

.head-right {
	grid-area: head-right;
	text-align: center;
	align-self: center;
}

.head {
	display: grid;
	max-width: 1100px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"head-left head-right";
}

.primary-right {
	grid-area: primary-right;
	text-align: right;
}

.city {
	grid-area: city;
}

.weat-icon {
	grid-area: weat-icon;
	display: flex;
	flex-direction: row;
	align-items:center;	
}

.primary {
	display: grid;
	max-width: 1100px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"city primary-right"
		"weat-icon primary-right"
}

.loader {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mini-loader {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mini-loader h3 {
	font-size: 25px;
	font-weight: lighter;
	margin: 0;
}

.mini-loader img {
	width: 100px;
}

.favourite-left {
	grid-area: favourite-left;
	align-self:center;
}

.favourite-right {
	grid-area: favourite-right;
	text-align: right;
	align-self: center;
	align-items:center;
	display: flex;
}

.favourite {
	display: grid;
	max-width: 1100px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"favourite-left favourite-right"
}

.favourite-head {
	display: flex;
    justify-content: space-between;
	align-items: center;
	margin: 0;
	text-align: center;
	margin-bottom:5px;
}

.favourite-list-left {
	grid-area: favourite-list-left;
}

.favourite-list-right {
	grid-area: favourite-list-right;
}

.favourite-list {
	display: grid;
	max-width: 1100px; 
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"favourite-list-left favourite-list-right"
}

.favourite-list-item {
	padding:0;
	margin:0;
}


@media only screen and (max-width: 800px) {

html {
	overflow-x: hidden;
}

h1{
	font-size: 23px;
}

h3{
	font-size: 24px;
}

p {
	font-size: 22px;
}

.primary h2 {
    font-size: 30px;
}

.favourite-left h2 {
	font-size: 28px;
}

.weat-icon p{
	font-size: 22px;
}


p.head-text{
    display: none;
}

.primary, .favourite-list, .favourite {
    display: block;
}

.head{
    display: flex;
    justify-content: flex-start;
}

.favourite-right {
	align-items: left;
}

input.choice {
	font-size: 13px;
}

.img1 {
    width: auto;
    height: 80px;
    margin-right: 20px;
}

.img2 {
    width: auto;
    height: 50px;
}

.but1 {
    padding: 0;
}

.but1 img {
    display: block;
    height: 50px;
    width: 50px;
}
}